/* all media query */
@media only screen and (min-width: 320px) and (max-width: 370px){
    /* header section  */
    header{
        flex-direction: column;
    }
    .container{
        width: 100%;
        flex-direction: column;
        gap: 0;
    }
    .left-content{
        padding-bottom: 50px;
    }
    .left-content h1{
        font-size: 55px;
        padding: 0 20px;
        line-height: 70px; 
        margin: 30px 0;
    }
    .left-content a{
        margin-left: 20px;
    }
    .right-content{
        padding-top: 30px;
    }
    .right-content img{
        width: 100%;
        height: 260px;
        padding: 0 20px;
    }
    main
    {
        width: 100%;
    }
    /* players section  */
    .players{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
    }
    .player img{
        width: 100%;
    }
    /* highlights section  */
    .highlights-section{
        flex-direction: column;
    }
    .highlights{
        flex-direction: column;
        width: 100%;
    }
    .left-highlights-content{
        padding: 0 20px;
    }
    .left-highlights-content h1{
        font-size: 40px;
    }
    .left-highlights-content p{
        text-align: justify;
    }
    .right-highlights-content{
        padding: 0 20px;
    }
    .right-highlights-content img{
        width: 100%;
        height: 60%;
    }
    /* news section  */
    .latest-news-section{
        flex-direction: column;
        width: 100%;
    }
    .latest-news-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        grid-gap: 0;
        padding: 0 20px;
    }
    .sticky-news h1{
        text-align: center;
    }
    .sticky{
        position: inherit;
        padding: 30px 0;
    }
    .all-latest-news{
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .latest-news{
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    /* world ranking section  */
    .world-ranking-section{
        flex-direction: column;
        padding: 0 20px;
    }
    .world-ranking-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        grid-gap: 0;
    }
    caption{
        font-size: 25px;
        font-weight: 700;
        text-decoration: underline;
    }
    table tr img{
        width: 40px;
    }
    /* up comming event section  */
    .upcomming-event-section{
        text-align: center;
        padding: 50px 20px;
        margin-top: 50px;
        background-color: rgba(211, 211, 211, 0.151);
        position: relative;
    }
    .upcomming-event-section br{
        display: none;
    }
    .upcomming-event-content{
        flex-direction: column;
    }
    .animation-1, .animation-2{
        display: none;
    }
    .event{
        flex-direction: column;
        width: 100%;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        text-align: left;
        margin-bottom: 20px;
    }
    .event-time{
        font-size: 25px;
    }
    .event-time br{
        display: none;
    }
    .event img{
        width: 100%;
        padding-bottom: 10px;
    }
    .event-content{
        padding: 0;
        text-align: justify;
    }
    
    /* footer section  */
    footer{
        padding: 50px 0 100px 0;
    }
    .footer-section{
        width: 100%;
    }
    .footer-logo img{
        width: 100%;
        padding: 0 50px 10px 50px;
    }
}
/* maximum width 688px */
@media only screen and (max-width: 688px){
    /* header section  */
    header{
        flex-direction: column;
    }
    .container{
        width: 100%;
        flex-direction: column;
        gap: 0;
    }
    .left-content{
        padding-bottom: 50px;
    }
    .left-content h1{
        font-size: 55px;
        padding: 0 20px;
        line-height: 70px; 
        margin: 30px 0;
    }
    .left-content a{
        margin-left: 20px;
    }
    .right-content{
        padding-top: 30px;
    }
    .right-content img{
        width: 100%;
        height: 60%;
        padding: 0 20px;
    }
    main
    {
        width: 100%;
    }
    /* players section  */
    .players{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
    }
    .player img{
        width: 100%;
        height: 130%;
    }
    /* highlights section  */
    .highlights-section{
        flex-direction: column;
    }
    .highlights{
        flex-direction: column;
        width: 100%;
    }
    .left-highlights-content{
        padding: 0 20px;
    }
    .left-highlights-content h1{
        font-size: 40px;
    }
    .left-highlights-content p{
        text-align: justify;
    }
    .right-highlights-content{
        padding: 0 20px;
    }
    .right-highlights-content img{
        width: 100%;
        height: 60%;
    }
    /* news section  */
    .latest-news-section{
        flex-direction: column;
        width: 100%;
    }
    .latest-news-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        grid-gap: 0;
        padding: 0 20px;
    }
    .sticky{
        position: inherit;
        padding: 30px 0;
    }
    .sticky-news h1{
        text-align: center;
    }
    .all-latest-news{
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .latest-news{
        margin-bottom: 20px;
        /* padding-bottom: 20px; */
    }
    /* world ranking section  */
    .world-ranking-section{
        flex-direction: column;
        padding: 0 20px;
    }
    /* .world-ranking-section h1{
        text-align: center;
    } */
    .world-ranking-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        grid-gap: 0;
    }
    caption{
        font-size: 25px;
        font-weight: 700;
        text-decoration: underline;
    }
    table tr img{
        width: 40px;
    }
    /* up comming event section  */
    .upcomming-event-section{
        text-align: center;
        padding: 50px 20px;
        margin-top: 50px;
        background-color: rgba(211, 211, 211, 0.151);
        position: relative;
    }
    .upcomming-event-section br{
        display: none;
    }
    .upcomming-event-content{
        flex-direction: column;
    }
    .animation-1, .animation-2{
        display: none;
    }
    .event{
        flex-direction: column;
        width: 100%;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        text-align: left;
        margin-bottom: 20px;
    }
    .event-time{
        font-size: 25px;
    }
    .event-time br{
        display: none;
    }
    .event img{
        width: 100%;
        padding-bottom: 10px;
    }
    .event-content{
        padding: 0;
    }
    
    /* footer section  */
    footer{
        padding: 50px 0 100px 0;
    }
    .footer-section{
        width: 100%;
    }
    .footer-logo img{
        width: 100%;
        padding: 0 50px 10px 50px;
    }
}
/* maximum width 1024px */
@media only screen and (min-width: 689px) and (max-width: 1020px){
    /* header section  */
    header{
        flex-direction: row;
    }
    .container{
        width: 100%;
        flex-direction: row;
        gap: 0;
    }
    .left-content{
        padding-bottom: 50px;
    }
    .left-content h1{
        font-size: 55px;
        padding: 0 20px;
        line-height: 70px; 
        margin: 30px 0;
    }
    .left-content a{
        margin-left: 20px;
    }
    .right-content{
        padding-top: 30px;
    }
    .right-content img{
        width: 100%;
        height: 60%;
        padding: 0 20px;
    }
    main
    {
        width: 100%;
    }
    /* players section  */
    .players{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
    }
    .player img{
        width: 100%;
        height: 130%;
    }
    /* highlights section  */
    .highlights-section{
        flex-direction: column;
    }
    .highlights{
        flex-direction: column;
        width: 100%;
    }
    .left-highlights-content{
        padding: 0 20px;
    }
    .left-highlights-content h1{
        font-size: 40px;
    }
    .left-highlights-content p{
        text-align: justify;
    }
    .right-highlights-content{
        padding: 0 20px;
    }
    .right-highlights-content img{
        width: 100%;
        height: 60%;
    }
    /* news section  */
    .latest-news-section{
        flex-direction: column;
        width: 100%;
    }
    .latest-news-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        grid-gap: 0;
        padding: 0 20px;
    }
    .sticky{
        position: inherit;
        padding: 30px 0;
    }
    .sticky-news h1{
        text-align: center;
    }
    .sticky-news p{
        text-align: center;
    }
    .all-latest-news{
        display: grid;
        grid-gap: 30;
        grid-template-columns: repeat(2, 1fr);
    }
    .latest-news{
        margin-bottom: 20px;
        /* padding-bottom: 20px; */
    }
    /* world ranking section  */
    .world-ranking-section{
        flex-direction: column;
        padding: 0 20px;
    }
    .world-ranking-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        grid-gap: 0;
    }

    caption{
        font-size: 25px;
        font-weight: 700;
        text-decoration: underline;
    }
    table tr img{
        width: 40px;
    }
    /* up comming event section  */
    .upcomming-event-section{
        text-align: center;
        padding: 50px 20px;
        margin-top: 50px;
        background-color: rgba(211, 211, 211, 0.151);
        position: relative;
    }
    .upcomming-event-section br{
        display: none;
    }
    .upcomming-event-content{
        flex-direction: column;
    }
    .animation-1, .animation-2{
        display: none;
    }
    .event{
        width: 100%;
    }
    .event-time{
        font-size: 25px;
        margin: 0;
    }
    .event-time br{
        display: none;
    }
    .event img{
        width: 200px;
        height: 180px;
        padding-bottom: 10px;
    }
    .event-content{
        padding-left: 30px;
        text-align: justify;
    }
    
    /* footer section  */
    footer{
        padding: 50px 0 100px 0;
    }
    .footer-section{
        width: 100%;
    }
    .footer-logo img{
        width: 100%;
        padding: 0 50px 10px 50px;
    }
}